.nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  padding: 2.4rem;
  color: var(--grey);
  background-color: var(--very-light-grey);
  font-weight: var(--font-semi-bold);
  font-size: 1.6rem;
}
.logo {
  margin-bottom: 2.4rem;
  color: var(--greyish-blue);
  font-weight: var(--font-bold);
}
.logo > span {
  color: var(--light-red);
}
